<!DOCTYPE html>
<html>
  <head>
    <title>Digital Crafts Meetups</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- <link rel='stylesheet' href='/css/style.css' /> -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab' rel='stylesheet' type='text/css'>
    <style media="screen">
      html, body {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgb(84, 46, 177), rgb(32, 146, 240));
      }
      .main {

      }
    </style>
  </head>
  <body>

      <div class="container main">
        <h1> Welcome to the internet</h1>
        <div class="login">
          <h3> Login</h3>
          <form class="" action="" method="POST">
            <input type="text" name="username" value="" placeholder="username" style="color: black">
            <input type="password" name="password" value="" placeholder="password" style="color: black">
            <input type="submit" name="submit" value="submit">
          </form>

        </div>
      </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script type="text/javascript">

    </script>
  </body>
